<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
<%- include('partials/header') -%>
<section class="w3l-about-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; About</p>
        </div>
    </div>
</section>
<!-- w3l-content-photo-5 -->
<div class="w3l-content-photo-5 py-5" id="about">
    <div class="content-main pt-lg-5 pt-md-3 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 content-photo">
                    <a href="#"><img src="/assets/images/background.jpg" class="img-fluid" alt="content-photo"></a>
                </div>
                <div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
                    <h3>Failure Is The Condiment That Gives Sucess It'S Flavour</h3>
                    <p class="mb-0">I am passionate about building excellent software
                        that improves the lives of those around me. I specialize in creating
                        software for clients ranging from individuals and small-businesses all
                        the way to large enterprise corporations.</p>
                    <a href="/services" class="btn-theme2 btn mt-lg-5 mt-4">About Me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //w3l-content-photo-5 -->
<!-- home page service grids -->
<section id="services-1" class="bg-light py-5">
    <div class="container py-lg-3">
        <div class="heading text-center mx-auto">
            <h3 class="head">Welcome To My Site</h3>

        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-briefcase"></span>
                    </div>
                    <h4><a href="/services">Want An Expert</a></h4>
                    <p>Contact me for a quote.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-shield"></span>
                    </div>
                    <h4><a href="/services">Discounted Consultations</a></h4>
                    <p>Contact for a discounted consultation services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-dollar"></span>
                    </div>
                    <h4><a href="/services">Let's Discuss</a></h4>
                    <p>Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page service grids -->

<!-- specifications -->
<section class="w3l-specifications-9">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-md-3">

            <div class="main-cont-wthree-fea row ">
                <div class="grids-speci1 col-lg-3 col-6">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">1142</h3>
                        <p>Hours of Works</p>
                    </div>
                </div>
                <div class="grids-speci1 midd-eff-spe col-lg-3 col-6">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">80</h3>
                        <p>Projects Done</p>
                    </div>
                </div>
                <div class="grids-speci1 las-but col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">100</h3>
                        <p>Satisfied Customers</p>
                    </div>
                </div>
                <div class="grids-speci1 las-t col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">14 </h3>
                        <p>Awards Winning</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //specifications -->
</section>
<%- include('partials/footer') -%>
</body>

</html>
