<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
<%- include('partials/header') -%>
<section class="w3l-contact-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Contact</p>
        </div>
    </div>
</section>
<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="row cont-main-top">
                <!-- contact form -->
                <div class="contacts12-main col-lg-6 ">

                    <form action="/contact/submit" class="main-input" method="post">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Name" name="name" id="w3lName" required="">

                        </div>
                        <input type="email" name="email" placeholder="Email" id="w3lSender" required="">

                        <textarea placeholder="Message" name="message" id="w3lMessage" required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-theme2">Submit Now
                            </button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="contact col-lg-6 mt-lg-0 mt-5">
                    <div class="cont-subs">
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <p class="contact-text-sub">75 Eglion Avenue, Toronto</p>
                            </div>

                        </div>
                        <div class="cont-add add-2">
                            <div class="cont-add-lft">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="mailto:zeenatakrur2609@gmail.com">
                                    <p class="contact-text-sub">zeenatakrur2609@gmail.com</p>
                                </a>
                            </div>

                        </div>
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="tel:+1 (208) 7171424">
                                    <p class="contact-text-sub">+1 (208) 7171424</p>
                                </a>
                            </div>
                        </div>
                        <div class="cont-add add-3">
                            <div class="cont-add-lft">
                                <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="#">
                                    <p class="contact-text-sub">Download Resume</p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- //contact address -->

            </div>
        </div>
        <!-- map -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.5371697897467!2d-79.3848618845021!3d43.65779687912107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x617e53df16eccd94!2sElmwood%20Spa!5e0!3m2!1sen!2ske!4v1603635079824!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <!-- //map -->
    </div>
</section>
<!-- //contact -->
<script>
    function home() {
        location = "/";
        return false;
    }
</script>
<%- include('partials/footer') -%>
</body>

</html>
