<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
<body>
<%- include('partials/header') -%>
<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Services</p>
        </div>
    </div>
</section>
<section class="w3l-features-4">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">My Services</h3>
            </div>
            <div class="fea-gd-vv row mt-5 pt-3">
                <div class="float-lt feature-gd col-lg-4 col-md-6">
                    <div class="icon"><span class="fa fa-code" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">
                                Website Design</a></h5>
                        <p>I design and develop top notch websites and user interfaces with rich graphics.
                            They’re aimed at improving user experience and making the user journey more interesting </p>
                    </div>

                </div>
                <div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="icon"><span class="fa fa-cogs" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">Web Development
                            </a></h5>
                        <p> I build robust, secure, easy to use, customisable and highly scalable systems,
                            platforms and portals for various organisations </p>
                    </div>
                </div>
                <div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="icon"><span class="fa fa-mobile" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">App Development</a></h5>
                        <p> I develop creative, innovative, highly usable and scalable
                            mobile apps that provide solutions to business problems, attract
                            users, and reinforce your brand. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>
</body>

</html>
